:root {
  font-family: "Roboto", "Raleway"; sans-serif;
  
  a {text-decoration: none;}
  --accent-color: #2196F3;
  --second-text-color: #757575;
  --button-color: #ffffff;
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway"; sans-serif;
  --container-assault: 20px;
}
*,
*::before,
*::after{
box-sizing: border-box;
}
*,
*::before,
*::after{
 margin: auto;
margin-left: auto;
margin-right: auto;

}

html {
width: 100%;
max-width: 100%;
overflow-x: hidden;
}

body{
  font-family: var(--main-font);
  color: #000000;
  font-style: normal;
}
*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}


.features-section,
.portfolio,
.team-container{
  min-width: 1170px;
}
.header,
.first-section,
.footer{
  min-width: 1600px;
}
/*--------header-------*/
.header {
 
  margin: auto;
  
  justify-content: center;
  display: flex;
  
  padding-top: 32px;
  padding-bottom: 32px;
  
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: 215px;
  margin-right: 215px;

 
 
 
}
.border{ 
 
 
border-bottom: 1px solid #ECECEC;
}




/*title*/
.main-title {
  
  font-family: var(--secondary-font), oleo-script;
  font-weight: 700;
  line-height: 1.19;
  
 
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #2196F3;
  text-decoration: none;
}
.studio-word {
  color: black;
}
/*navigation*/
.navigation-container {
  display: flex;
  align-items: center;
  
}
.navigation-set {
  display: flex;
justify-content: center;

margin-right: 331px;
}


.header .main-title {
  padding-right: 93px;
}
.navigation-studio,
.navigation-portfolio {
margin-right: 40px;
}
.blue:visited {
  color: #2196F3;
}
.black:visited {
  color:#212121
}
.header .mail {
margin-right: 50px;
}

.portfolio-title {
display: none;
}
.portfolio {
  display: block;
  align-items: center;
 
  
 justify-content: center;
  margin: auto;
  padding-bottom: 94px;
  padding-top: 94px;
}

.portfolio-images-container {
 display: flex;
  
  
  width: 1200px;
  
  align-items: center;
  justify-content: center;
 margin: auto;

padding-top: 94px;
padding-bottom: 94px;
 flex-direction: column;

 
}

.images-portfolio-set {
  display: flex;
  flex-wrap: wrap;
 min-width: 1200px;
  justify-content: center;
  margin: auto;
margin-top: -20px;
  margin-left: -20px;
}
.image-bg {
 margin-left: 20px;
margin-top: 20px;
  background-color:#ffffff;
  border: 1px solid #EEEEEE;
}
.box-image {
 
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  
}
.name-image{
  
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
 
  
  letter-spacing: 0.06em;
}
.second-name-image {
  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.03em;
  color: #757575;
  
}

.navigation-studio,
.navigation-portfolio,
.navigation-contacts,
.mail,
.phone-number {
  font-weight: 500;
  
  font-size: 14px;
  text-decoration: none;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.mail {
  width: 135px;
  color: #757575;
}
.phone-number {
  width: 122px;
  color: #757575;
  
}
.navigation-studio {
  width: 49px;
  color:#2196F3;
}
.navigation-portfolio {
  width: 77px;
  color: #212121;
}
.navigation-contacts {
  width: 68px;
  color: #212121;
}
.navigation-studio:hover,
.navigation-portfolio:hover,
.navigation-contacts:hover,
.navigation-studio:focus,
.navigation-portfolio:focus,
.navigation-contacts:focus,
.mail:hover,
.mail:focus,
.phone-number:hover,
.phone-number:focus {
  text-decoration: none;
  color: #2196F3;
  cursor: pointer;
}
.navigation-studio:active{
  color: #2196F3;
}
.mail:hover,
.mail:focus,
.mail:active,
.address-text,
.mail-text,
.phone-number,
.phone-number-footer {
  text-decoration: none;
  cursor: pointer;
  
}

.navigation-set,
.features-points,
.images-set,
.team-set,
.buttons-set,
.images-portfolio-set,
.footer-navigation-set {
  list-style: none; 
  color: inherit;
}
/*---header end---*/
/*----first section---*/
.first-section {
  align-items: center;
  display: flex;
  
 
  justify-content: center;
  margin: auto;
  background-color: #2f303a;
  flex-direction: column;
  padding-top: 200px;
  padding-bottom: 200px;
}
.container-first-section .first-title{
  display: flex;
  justify-content: center;
  width: 696px;
 align-items: center;
  
  text-align: center;
  font-style: normal;
  font-weight: 900;
  font-family: var(--main-font);
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  
  text-transform: uppercase;
  color: #ffffff;
  
}
.button-main {
  width: 200px;
  min-height: 50px;
  background: #2196F3;
  font-weight: bold;
  line-height: 1.88;
  border-radius: 4px;
  margin-top: 30px;
  
  text-align: center;
  align-items: center;
  color: #ffffff;
  cursor: pointer;
}
.buttons-set {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  
}
.button-portfolio {
  min-width: 73px;
  
  background: #F5F4FA;
  font-weight: bold;
  line-height: 1.88;
  border-radius: 4px;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: #212121;
  cursor: pointer;
  border: none;
  margin-left: 4px;
  margin-right: 4px;
}


.button-main:active,
.button-main:hover,
.button-main:focus,
.button-portfolio:active,
.button-portfolio:hover,
.button-portfolio:focus {
background: #2196F3;
color: var(--button-color);
}
/*---------*/
/*----features---*/
.features-section{
  display: flex;
  justify-content: center;
}
.features {
margin: auto;
 align-items: center;
 display: flex;
 justify-content: space-around;
 list-style-type: none;
 width: 1170px;
 padding-top: 94px;

}
.features-points{
 
  display: flex;
  justify-content: space-between;
  
}
.feature-points:not(:last-child){
  
}
.feature-box {
 
  width: 270px;
}
.feature-title-one,
.feature-title-two,
.feature-title-three,
.feature-title-four { 
  
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}


.feature-text-one,
.feature-text-two,
.feature-text-three,
.feature-text-four {
   
 display: flex;


  margin-top: 10px;
  font-weight: 400;
  line-height: 1.71;
  font-size: 14px;
  font-style: normal;
  text-transform: lowercase;
  letter-spacing: 0,03em;
  color: var(--second-text-color)
}
/*----features end---*/
/*----portfolio-----*/
.portfolio-container {
  margin: auto;
  min-width: 1600px;
  background-color: #ffffff;
}
.portfolio-title-first,
.team-title {
  margin: auto;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  
 
  color: #212121;
}
.portfolio-title-first{
  margin-bottom: 50px;
}
.portfolio-title{
  
  justify-content: center;
}
.images-set {
 margin-left: 215px;
 margin-right: 215px;
 margin: auto;
  display: flex;
  align-items: center;
 justify-content: center;
 

}

.images-point:not(:last-child){
  padding-right: 30px;
}
/*team*/
.team-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
 align-items: center;
  
padding-top: 94px;
padding-bottom: 94px;
  background: #F5F4FA;
  
 
}
.team-title {

  
  
}
.team-set{
  
  display: flex;
 
 
}
.team-imagine{
  display: flex;
  flex-direction: column;

align-items: center;
  margin-top: 50px;
  
  background: #ffffff;
}
.team-imagine:not(:last-child){
  margin-right: 30px;
}
.titles{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
  margin-top: 30px;
  margin-bottom: 30px;
}
.name-title-igor,
.name-title-olga,
.name-title-nikolay,
.name-title-mikhail {
 
  font-weight: bold;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  
  color: #212121;
}
.span-title-one,
.span-title-two,
.span-title-three,
.span-title-four {
  
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
 margin-top: 10px;
  text-align: center;
  color: var(--second-text-color);
}
/*FOOTER*/
.footer {
  
  display: flex;
   align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: auto;

  padding-top: 60px;
 padding-bottom: 60px;
  background: #2f303a;
}
.footer-container {
 display: flex;

padding-left: 215px;
  min-width: 1600px;
margin: auto;
 flex-direction: column;
 
}
.footer-navigation-set {
  display: flex;
 
margin-top: 20px;
 flex-direction: column;
 
}
.footer-studio-word {
  color: #ffffff;
}
.footer-main-title{
  
 
  
  font-weight: 700;
  
  font-style: normal;
 
 
  color: #2196F3;
  font-family: var(--secondary-font), oleo-script;
  text-decoration: none;
  line-height: 1.19;
  font-style: bold;
 
  font-size: 26px;
  letter-spacing: 0.03em;
}

.footer-navigation-point:not(:last-child){
  margin-bottom: 9px;
}
.address {
  
  font-style: normal;
}
.address-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.mail-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.phone-number-footer {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  
 
  color:rgba(255, 255, 255, 0.6);
}